// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #000000;
$secondary: #c1c7c9;
$danger: #eb2227;
// $nav-link-color: #868686;
// $nav-tabs-link-active-bg: #FF8A00;
// $nav-tabs-link-active-color: white;
// $input-border-radius: 0;
// $btn-border-radius: 0;
// $input-color: #9D9D9D;
// $input-placeholder-color: #9D9D9D;
// $input-plaintext-color: #9D9D9D;

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

// TT Commons
@import url('https://fonts.cdnfonts.com/css/tt-commons?styles=87755,87757,87749,87752,87754,87745,87743,87747,87741');

.font-ttcommons {
  font-family: 'TT Commons', sans-serif !important;
}

// @font-face {
//     font-family: 'TT Commons';
//     src: url('path/to/fonts/ttcommons-regular.ttf') format('truetype'),
//         url('path/to/fonts/ttcommons-regular.woff') format('woff'),
//         url('path/to/fonts/ttcommons-regular.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif !important;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-2xl-min: 1536px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-2xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

// * {
//     margin: 0 !important;
//     padding: 0 !important;
// }

body {
  background-color: #f5f5f5 !important;
}

nav {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #f5f5f5 !important;
  z-index: 999 !important;

  @include lg {
    position: relative !important;
    background-color: transparent !important;
  }

  img {
    height: 20px !important;
  }

  @include xxl {
    ul li {
      font-size: 24px !important;
    }

    img {
      height: 32px !important;
    }
  }
}

.pattern-bg {
  top: 25% !important;

  @include xl {
    top: 0 !important;
  }
}

.section1 {
  padding-bottom: 100px !important;
  .box1 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;

    h1 {
      font-size: 48px !important;
      line-height: 0.9 !important;
    }
  }

  .box2 {
    img {
      border-radius: 30px !important;
      width: 100% !important;
      // height: 200px !important;
    }
  }

  @include xl {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    .box1 {
      h1 {
        font-size: 96px !important;
        line-height: 0.9 !important;
      }
    }

    .box2 {
      padding-left: 0px !important;
      padding-top: 150px !important;

      img {
        width: auto !important;
        height: 517px !important;
      }
    }
  }

  @include xxl {
    .box1 {
      h1 {
        font-size: 120px !important;
      }
    }
  }
}

.section2 {
  .box-large {
    border-radius: 0px !important;

    @include xl {
      border-radius: 32px !important;
    }

    .box1 {
      h3 {
        line-height: 1 !important;
        font-size: 32px !important;
      }

      p {
        line-height: 1 !important;
      }

      @include xl {
        h3 {
          font-size: 44px !important;
        }

        p {
          font-size: 22px !important;
        }
      }
    }

    .box2 {
      .box2-container {
        border-radius: 24px 24px 24px 200px !important;

        @include xl {
          border-radius: 24px 24px 24px 200px !important;
        }

        .img-container {
          border-radius: 24px 24px 24px 200px !important;
        }
      }

      .thumb-container {
        img {
          width: 32px !important;
        }

        @include xl {
          img {
            width: 52px !important;
          }
        }
      }

      h3 {
        line-height: 1 !important;
        font-size: 32px !important;
      }

      p {
        line-height: 1 !important;
      }

      @include xl {
        h3 {
          font-size: 40px !important;
        }

        p {
          font-size: 22px !important;
        }
      }
    }

    .box3 {
      h3 {
        line-height: 1 !important;
        font-size: 32px !important;
      }

      p {
        line-height: 1 !important;
      }

      @include xl {
        h3 {
          font-size: 40px !important;
        }

        p {
          font-size: 22px !important;
        }
      }
    }
  }

  .box-secondary {
    margin-top: 120px !important;
    h1 {
      line-height: 0.8 !important;
      font-size: 56px !important;

      @include xl {
        font-size: 100px !important;
      }

      @include xxl {
        font-size: 120px !important;
      }
    }

    img {
      width: 120px !important;
      height: auto !important;

      @include xl {
        width: 180px !important;
      }

      @include xxl {
        width: 200px !important;
      }
    }

    h3 {
      font-weight: 300 !important;
      font-size: 22px !important;
      line-height: 0.9 !important;

      @include xl {
        font-size: 32px !important;
      }
      span {
        font-weight: 600 !important;
        font-size: 36px !important;
        color: #febe33 !important;

        @include xl {
          font-size: 44px !important;
        }
      }
    }

    p {
      line-height: 1.2 !important;
      font-size: 16px !important;
      @include xl {
        font-size: 20px !important;
      }
    }
  }
}

.section3 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;

  h4 {
    @include xl {
      font-size: 32px !important;
    }
  }

  p {
    line-height: 1 !important;

    @include xl {
      font-size: 44px !important;
      width: 812px !important;
    }
  }

  .grid-box {
    .box1,
    .box3,
    .box5 {
      @include lg {
        padding-bottom: 100px !important;
      }
    }

    .box2,
    .box4 {
      @include lg {
        padding-top: 100px !important;
      }
    }

    .box-image {
      border-radius: 16px !important;
      @include xl {
        width: 100% !important;
        // height: 465px !important;
        border-radius: 30px !important;
      }

      &:hover {
        .overlay {
          opacity: 0.75 !important;
        }

        a {
          opacity: 1 !important;
        }
      }

      .overlay {
        background-color: #121212 !important;
        opacity: 0 !important;
        transition: 0.3s ease-in-out !important;
      }

      a {
        font-family: 'Inter', sans-serif !important;
        opacity: 0 !important;
        position: absolute !important;
        transform: translate(-50%, -50%) !important;
        top: 50% !important;
        left: 50% !important;
        transition: 0.3s ease-in-out !important;
      }
    }
  }
}

footer {
  background-color: #c1c7c9 !important;

  @include lg {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .footer-box {
    background-color: #121212 !important;

    @include xl {
      border-radius: 50px !important;
    }

    .box1 {
      color: #121212 !important;

      border-radius: 24px !important;
      .row1 {
        h2 {
          line-height: 0.9 !important;
          font-size: 36px !important;
          @include xl {
            font-size: 56px !important;
            // font-weight: 700 !important;
          }
        }

        h5 {
          font-size: 14px !important;
          @include xl {
            font-size: 22px !important;
          }
        }
      }

      .row2 {
        h2 {
          line-height: 0.9 !important;
          @include xl {
            font-size: 40px !important;
            // font-weight: 700 !important;
          }
        }

        h5 {
          @include xl {
            font-size: 22px !important;
          }
        }

        .box2 {
          h2 {
            font-size: 18px !important;
            @include xl {
              font-size: 22px !important;
            }
          }

          h5 {
            font-size: 14px !important;
            @include xl {
              font-size: 18px !important;
            }
          }
        }
      }

      @include xl {
        border-radius: 30px !important;
      }
    }

    .box2 {
      h1 {
        line-height: 0.9 !important;
        font-size: 58px !important;
        @include xl {
          font-size: 96px !important;
        }
      }

      a {
        text-decoration: none !important;

        @include xl {
          font-size: 28 px !important;
        }
      }
    }

    .footer-box-bottom {
      p {
        line-height: 1 !important;
        @include xl {
          font-size: 18px !important;
        }
      }
    }
  }
}
